/**********************
/*
/**********************


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  box-sizing: border-box;
}

.reset {
  margin-left: 47%;
  margin-top: 10%;
}

.overall-container {
  display: flex;
  justify-content: center;
}
/*set container to 512px*/
.container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  /* font-size: 0; this removes the gaps between the divs */
}

.squareDiv {
  display: inline-block;
  /* width: 16px;
  height: 16px; */
  /* border: 2px solid red; */
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
